@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  overflow: hidden;
  margin: 0;
  background: rgb(19, 19, 19);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
header {
  padding: 30px;
  height: 200px;
  font-size: 40px;
}
.main {
  height: 500px;
}
.container {
  width: 800px;
  display: flex;
  padding: 0 20px;
}
.slide {
  height: 600px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}
.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: -50px;
  left: 50%;
  margin: 0;
  opacity: 0;
}
.slide.active {
  flex: 3;
}
.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
